<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="newCharacter()">New Character</button>
  </div>
</div>
<hr>
<div class="md-form col-xs-10">
  <input type="search" [(ngModel)]="searchText" placeholder="Search text">
</div>
<div class="row">
  <div class="col-xs-12">
    <app-character-pers
      *ngFor="let characterPers of characters | filter: searchText;
      let i = index"
      [character]="characterPers"
      [index]="i"></app-character-pers>
  </div>
</div>

