<div class="row">
  <div class="col-xs-10">
    <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
      <div class="col-xs-10">
        <button type="submit"
                class="btn-primary"
                [disabled]="!characterForm.valid">Sauvegarder</button>
        <button type="button" class="btn-danger" (click)="onCancel()">Quitter</button>
      </div>
      <div class="row">
        <div class="col-xs-10">
          <div class="form-group">
            <label for="name">Nom</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-xs-10">
            <div class="form-group">
              <label for="imagePath">Image path</label>
              <input
                type="text"
                id="imagePath"
                formControlName="imagePath"
                class="form-control"
                #imagePath>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" class="img-responsive" style="max-height: 300px">
        </div>
      </div>
          <div class="row">
            <div class="col-xs-10">
              <div class="form-group">
                <label for="description">Description</label>
                <input
                  type="text"
                  id="description"
                  formControlName="description"
                  class="form-control">
              </div>
            </div>
          </div>
            <div class="row">
              <div class="col-xs-10">
                <div class="form-group">
                  <label for="intelligence">Intelligence</label>
                  <input
                    type="text"
                    id="intelligence"
                    formControlName="intelligence"
                    class="form-control">
                </div>
              </div>
            </div>
    </form>
  </div>
</div>
