<div class="row">
  <div class="col-xs-12">
    <img
      [src]="character.imagePath"
      alt="{{ character.name }}"
      class="img-responsive"
      style="max-height: 300px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ character.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
      <button
        type="button"
        class="btn btn-danger"
      (click)="onDelete()">
        Delete Character
      </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ character.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ character.intelligence }}
  </div>
</div>
