<blockquote class="blockquote text-right">
  <p class="mb-0">Nobody exists on puropose. Nobody belongs anywhere. We're all going to die. Come watch TV.</p>
  <footer class="blockquote-footer">Rick Sanchez <cite title="Source Title">Himself</cite></footer>
</blockquote>
<hr>
<div class="text-center">
  <button
    type="button"
    class="btn btn-primary"
    (click)="onGodDamn()">God Damn!</button>
</div>
<hr>

<img src="../assets/rick-morty.jpg" class="center-block img-fluid" alt="Responsive image" style="max-height: 600px;">

